<!DOCTYPE html>
<html lang="en">

<head>
  <!-- METADATA -->
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Christoffer Nielsen">
  <meta name="description"
    content="Discover, organize, and rate your favorite books with our intuitive book notes app. Dive into summaries, highlights, and personal insights—all while tracking your reading journey.">
  <meta name="keywords"
    content="book, notes, book notes, web development, design, coding, projects, creative, front-end, back-end, JavaScript, HTML, CSS, christoffer nielsen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, nofollow">
  <title>Book Notes | Christoffer Nielsen</title>

  <!-- FAVICONS -->
  <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg">
  <link rel="icon" type="image/png" href="/favicons/favicon.png">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
    rel="stylesheet" />

  <!-- EXTERNAL CSS FILES -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- CSS FILES -->
  <link href="/styles/style.css" rel="stylesheet" />
  <link href="/styles/queries.css" rel="stylesheet" />

  <!-- JS -->
  <script defer src="/js/main.js" type="text/javascript"></script>
</head>

<body>